*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
out/

TorrServer/src/github.com/
TorrServer/src/golang.org/
TorrServer/src/bazil.org/
TorrServer/pkg/
TorrServer/bin/
dist/ru.yourok.torrserve_pay/
pay.property
free.property
*.jks

