<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.yourok.torrserve">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">
        <receiver android:name=".services.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service android:name=".services.TorrService" />

        <activity
            android:name=".activitys.TvMainActivity"
            android:banner="@drawable/banner"
            tools:targetApi="lollipop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.FilesActivity" />
        <activity android:name=".activitys.ACRActivity" />
        <activity android:name=".activitys.AddActivity" />
        <activity android:name=".activitys.InfoActivity" />
        <activity android:name=".activitys.SettingsActivity" />
        <activity
            android:name=".activitys.ViewActivity"
            android:configChanges="mcc|mnc|locale|orientation|screenLayout|screenSize|layoutDirection|fontScale"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/MyDialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-bittorrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:scheme="content" />
                <data android:pathPattern=".*\.torrent" />
                <data android:pathPattern=".*\.TORRENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="content" />
                <data android:pathPattern=".*\.torrent" />
                <data android:pathPattern=".*\.TORRENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="magnet" />
                <data android:host="*" />
                <data android:pathPattern="*.torrent" />
                <data android:pathPattern=".*.TORRENT" />
                <data android:pathPattern=".*.torrent" />
                <data android:pathPattern=".*.torrent.*" />
                <data android:pathPattern=".*..*.torrent.*" />
                <data android:pathPattern=".*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*.torrent.*" />
                <data android:pathPattern=".*..*..*..*..*..*..*..*..*..*..*..*..*..*..*.torrent.*" />
            </intent-filter>
        </activity>
    </application>

</manifest>